replicaCount: {{ enable_ha | ternary(2, 1) }}

controller:
  serviceAccount:
    create: true
    name: ebs-csi-controller-sa

  resources:
    requests:
      cpu: 10m
      memory: 40Mi
    limits:
      memory: 256Mi

  volumeModificationFeature:
    enabled: true

  extraVolumeTags: 
    {{ ebs_csi_driver__resource_tags | to_nice_yaml(indent=4) | indent(4) }}

node:
  serviceAccount:
    create: true
    name: ebs-csi-node-sa

  resources:
    requests:
      cpu: 10m
      memory: 40Mi
    limits:
      memory: 256Mi

# Enable encryption by default for all PVCs
storageClasses:
  - name: ebs-sc
    annotations:
      storageclass.kubernetes.io/is-default-class: "false"
    parameters:
      type: gp3
      iops: "3000"
      throughput: "125"
      encrypted: "{{ ebs_csi_driver__enable_encryption | lower }}"
    reclaimPolicy: Delete
    allowVolumeExpansion: true
    volumeBindingMode: WaitForFirstConsumer

enableVolumeScheduling: {{ ebs_csi_driver__enable_volume_scheduling | lower }}
enableWindowsHostProcess: false
